/* Estilos globales para el cuerpo del documento */
html {
  min-height: 100%;
  position: relative;
}

body {
    /* Elimina los márgenes y el relleno por defecto */
    margin: 0;
    padding: 0;
    /* Color de fondo del sitio web */
    background-color: #000;
    margin-bottom: 80px;
  /*  background-image: url("Laterales.png");
    background-size: 500px;
    background-repeat: no-repeat; */
}

/* Estilos para el encabezado */
header {
    /* Color de fondo del encabezado */
    background-color: #9033F9;

    /* Color del texto en el encabezado */
    color: #fff;
    /* Relleno interno del encabezado */
    padding: 1rem 0;
    /* Alineación del texto en el centro */
    text-align: center;
  font-family: "Playwrite GB S", cursive;
font-size: 10px;

}

/* Estilos para la barra de navegación */
nav ul {
    /* Elimina el estilo de lista por defecto */
    list-style: none;
    /* Elimina el relleno interno */
    padding: 0;
    /* Alineación del texto en el centro */
    text-align: center;
    /* Color de fondo de la barra de navegación */
    background-color: #000;
    /* Elimina los márgenes */
    margin: 0;
    font-family: "Playwrite GB S", cursive;
}

/* Estilos para los elementos de la lista en la barra de navegación */
nav ul li {
    /* Muestra los elementos en línea */
    display: inline;
    /* Elimina los márgenes */
    margin: 0;
}

/* Estilos para los enlaces en la barra de navegación */
nav ul li a {
    /* Color del texto del enlace */
    color: #fff;
    /* Relleno interno del enlace */
    padding: 0.5rem 1rem;
    /* Elimina el subrayado por defecto */
    text-decoration: none;
}

/* Estilos para el contenido principal */
main {
    /* Relleno interno del contenido principal */
    padding: 1rem;
    text-align: center;
  
      font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: white;
}

/* Estilos para el pie de página */
footer {
    /* Color de fondo del pie de página */
    background-color: #333;
    /* Color del texto en el pie de página */
    color: #fff;
    /* Alineación del texto en el centro */
    text-align: center;
    /* Relleno interno del pie de página */
    padding: 1rem 0;
    /* Fija el pie de página en la parte inferior de la página */
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 40px;
font-family: "Playwrite ES Deco", cursive;
}

    .anton-sc-regular {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bodoni-moda-sc-<uniquifier> {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.playwrite-es-deco-<uniquifier> {
  font-family: "Playwrite ES Deco", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.playwrite-gb-s-<uniquifier> {
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
        /* Estilos para el contenedor principal del slider */
        .slider-container {
            max-width: 100%; /* Ancho máximo del slider */

            margin: 0 auto; /* Centra el slider horizontalmente */
            position: relative; /* Posición relativa para los elementos internos */
            overflow: hidden; /* Oculta cualquier contenido que sobresalga del contenedor */
            
                    }
        /* Estilos para el contenedor de las imágenes */
        .slider-content {
            display: flex; /* Utiliza flexbox para alinear las imágenes horizontalmente */
            transition: transform 0.5s ease; /* Transición suave al cambiar las imágenes */

        }
        /* Estilos para cada imagen del slider */
        .slider-item {
            min-width: 100%; /* Cada imagen ocupa al menos el ancho completo del contenedor */
           flex: 0 0 auto; /* Permite que las imágenes mantengan su tamaño original */
            height: auto;
            object-fit: cover;

        }
           .slider-item img {
            width: 1000px; /* Las imágenes se ajustan al ancho del contenedor */
            height: 1000px;
        }
nav ul li a {
    display: block;
            padding: 10px 20px;
            text-decoration: none;
            color: white;
        }

        nav ul li ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        nav ul li ul li {
            display: block;
        }
        nav ul li:hover ul {
            display: block;
        }
                .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }
        nav ul li {
    /* Muestra los elementos en línea */
    display: inline-block;
    /* Elimina los márgenes */
    margin: 0;
    position: relative;
}